.calendar-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-top: 1px solid #dee2e6;
  background-color: #fff;
  
}

.calendar-table thead th {
  vertical-align: bottom;
  /* border-bottom: 2px solid #dee2e6; */ 
  text-align: center;
  font-weight: normal;
}

.calendar-table td,
.calendar-table th {
  /* border: 1px solid #dee2e6; */
}

.calendar-table td,
.calendar-table th {
  padding: 0.35rem 0px;
  vertical-align: top;
  /* border-top: 1px solid #dee2e6; */
  transition: all 0.25s;
}

.calendar-day {
  cursor: pointer;
  text-align: center;
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.calendar-day.not-selected-month-date {
  color: rgb(187 187 187);
}

.calendar-day:hover:not(.selected-day),
.month-bar .month-change-btns:hover,
.month-picker .month:hover {
  background-color: #7b68ee59;
}

.blue-date {
  color: rgb(16, 110, 190);
  font-weight: bold;
}
.selected-day span {
  color: white;

  transition: all 0.25s;
  position: relative;
}

.selected-day {
  position: relative;
  background: #7b68ee !important;
  transition: all 0.25s;
}

.inrange {
  background-color: #7b68ee6e  !important;
  transition: all 0.55s; 
  border:0px !important;
}

.isRangeDate {
  background-color: #7b68eedb  !important;
}

.date-time-picker {
  max-width: 250px; 
  background-color: white;
  font-size: 12px;
  border: 1px solid #dee2e6;
}
.month-bar input , .month-bar .dropdown button {
  border: 0px !important;
  outline: 0px !important ;
  white-space: nowrap;
  padding-right: 10px;
}

.month-bar .dropdown .dropdown-menu {
  height: 150px;
  overflow: auto;
  width: 105px !important;
  min-width: auto;
}
.date-picker-dropdown{
  margin: 0;
  padding: 0;
  max-height: 220px;
  max-width: 252px;
  overflow: hidden;
}

.month-bar .month-change-btns {
  width: 70px;
}

.month-bar .year-selector {
  max-width: 70px;
  background-color: #F0F0F0;
  cursor: pointer;
}

.month-bar .year-selector:focus {

  background-color: white;
  cursor: auto;
  border: 1px solid #00000073 !important;
  border-radius: 3px;
}

.month-bar .year-selector::-webkit-outer-spin-button,
.month-bar .year-selector::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.month-bar .year-selector[type=number] {
  -moz-appearance: textfield;
}
 

button{
  outline: none !important;
}

#month-picker{
  height: 220px;
  overflow-y: scroll;
}
.month-picker{

  display: flex;
  flex-wrap: wrap !important;
  padding-top: 10px;
}

.month-picker .month{
  padding: 10px;
  border-radius: 5px;
  margin: 2px;
}

.month-picker .month.selected-month{
  color: white;
  font-weight: bold;
  background-color: #7b68ee !important;
}

/* /////////////////////////// */


.accordian .rd {position: absolute;opacity: 0;z-index: -1;}
.accordian .tabs {overflow: hidden;}
.accordian .tab {width: 100%;overflow: hidden;border-bottom: 1px solid #00000024; position: relative; } .accordian .tab-label {  display: flex;  justify-content: space-between;      padding: 8px 9px; font-weight: normal;  cursor: pointer;height: auto; } /* Icon */ .accordian .tab:hover {background: #00000012;  } .accordian .tab::after { position: absolute; content: "\276F";width: 1em;height: 1em;text-align: center;transition: all .35s;  } .accordian .tab-content {  max-height: 0; background: white;  transition: all .35s;} .accordian .tab-close {  display: flex;  justify-content: flex-end;   font-size: 0.75em;  cursor: pointer;}  .accordian .tab:hover {background: #00000012;  }
.accordian .tab label{ margin-bottom: 0; }  
.accordian .rd[checked="true"] ~ .tab-label {  background: #00000012;} .accordian .rd[checked="true"]::after {transform: rotate(90deg);  } .accordian .rd[checked="true"] ~ .tab-content {  max-height: 100vh;}
.accordian .rd:checked ~ .tab-label {  background: #00000012;} .accordian .rd:checked::after {transform: rotate(90deg);  } .accordian .rd:checked ~ .tab-content {  max-height: 100vh;  }